html,
body,
.full-height {
  height: 100%;
}

body {
  overflow-x: hidden;
  padding-bottom: 160px;
  background-color: #fbfbfb;
}

/* hack to allign emojies to line height */
.emoji {
  height: 1.2em;
}

.demo-options {
  margin-bottom: 30px;
}

.opt__strict .not-strict {
  opacity: 0.3;
}

.checkbox {
  margin-right: 10px;
}

.source {
  width: 100%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  padding: 2px;
}

.result-html {
  padding: 2px 10px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.result-html img {
  max-width: 35%;
}

.result-src,
.result-debug {
  display: none;
}

.result-src-content,
.result-debug-content {
  white-space: pre;
}

.result-as-html .result-html { display: block; }
.result-as-html .result-src,
.result-as-html .result-debug { display: none; }

.result-as-src .result-src { display: block; }
.result-as-src .result-html,
.result-as-src .result-debug { display: none; }

.result-as-debug .result-debug { display: block; }
.result-as-debug .result-html,
.result-as-debug .result-src { display: none; }

.demo-control {
  position: absolute;
  right: 15px;
  top: -17px;
  border-radius: 6px 6px 0 0;
  font-size: 12px;
  background-color: #ddd;
}
.demo-control a {
  padding: 0 20px;
}
.demo-control a:first-child {
  padding-left: 30px;
}
.demo-control a:last-child {
  padding-right: 30px;
}

/* twbs fix */
.hljs {
  padding: 9.5px;
}
.hljs code {
  white-space: pre;
}


.footnotes {
  -moz-column-count: 2;
  column-count: 2;
}
.footnotes-list {
  padding-left: 2em;
}

/* custom container */
.warning {
  background-color: #ff8;
  padding: 20px;
  border-radius: 6px;
}

.gh-ribbon {
  display: block;
  position: absolute;
  right: -60px;
  top: 44px;
  transform: rotate(45deg);
  width: 230px;
  z-index: 10000;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #686868;
  box-shadow: 0 0 2px rgba(102,102,102,0.4);
  padding: 1px 0;
}
.gh-ribbon a {
  text-decoration: none !important;
  border: 1px solid #ccc;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  outline: medium none;
  padding: 4px 50px 2px;
  text-align: center;
}

/* Override default responsiveness */
.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

