doctype html
html
  head
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')

    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js')
    link(rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css')

    script(src='../dist/remarkable.js')

    link(rel='stylesheet' href='./assets/index.css')
    script(src='./assets/index.js')

  body
    .container
      - var s = self.self.demo;
      h1 remarkable demo

      p: a(data-toggle='collapse' href='#code-sample') Show code sample
      pre.collapse.code-sample(id='code-sample')
        code.js= s.code

      .row
        .col-xs-6
          .demo-control
            a.source-clear(href='#') clear
            a#permalink(href='./' title='Share this snippet as link'): strong permalink
          textarea.source= s.source
        section.col-xs-6
          .demo-control
            a.result-mode(href='#') html / source
          .result
          pre.result-src
            code.result-src-content

    .gh-ribbon
      a(href='https://github.com/jonschlinkert/remarkable' target='_blank') Fork me on GitHub
