html, body, .full-height
  height 100%


body
  overflow-x hidden
  padding-bottom 180px

.demo-options
  margin-bottom 10px

.checkbox
  margin-right 10px

.source
  width 100%
  font-family Menlo, Monaco, Consolas, "Courier New", monospace
  font-size 13px

.result
  padding-right 20px
  overflow auto
  img
    max-width 100%

.result-src
  display none

.result-src-content
  white-space pre

.result-as-text
  .result-src
    display block
  .result
    display none

.demo-control
  position absolute
  right 15px
  top 0
  padding 0 10px
  border-radius 0 4px
  font-size 12px
  background-color #666
  color #fff !important
  opacity .6
  transition opacity 0.5s ease-in-out
  &:hover
    opacity 1
  a
    margin 0 20px
    color #fff !important

.hljs
  background none
  padding 0

.gh-ribbon
  display block
  position absolute
  right -60px
  top 44px
  transform rotate(45deg)
  width 230px
  z-index 10000
  white-space nowrap
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color #686868
  box-shadow 0 0 2px rgba(102,102,102,0.4)
  padding 1px 0

  a
    text-decoration none !important
    border 1px solid #ccc
    color #fff
    display block
    font-size 13px
    font-weight 700
    outline medium none
    padding 4px 50px 2px
    text-align center
